### Build a model which predicts sales based on the money spent on different platforms for marketing using advertising.csv dataset.

In [1]:
# Importing a libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import warnings
warnings.filterwarnings("ignore")

In [2]:
#for cheking current working directory
import os
os.getcwd()

'C:\\Users\\PCAC-6'

In [3]:
# Load the dataset
data = pd.read_csv("C:\\Users\\PCAC-6\\Downloads\\advertising.csv")

In [4]:
# for top 5 rows
data.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [5]:
# for below 5 rows
data.tail()

        TV  Radio  Newspaper  Sales
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

In [6]:
# for stastical views
data.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   15.130500
std     85.854236   14.846809   21.778621    5.283892
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   11.000000
50%    149.750000   22.900000   25.750000   16.000000
75%    218.825000   36.525000   45.100000   19.050000
max    296.400000   49.600000  114.000000   27.000000

In [7]:
# for info of tables data types
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      200 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

### as we see our data is clear their is not need of do EDA process

In [8]:
# Separate features (X) and target variable (y)
x = data[["TV", "Radio", "Newspaper"]]
y = data["Sales"]

In [9]:
# printing values of x
x

        TV  Radio  Newspaper
0    230.1   37.8       69.2
1     44.5   39.3       45.1
2     17.2   45.9       69.3
3    151.5   41.3       58.5
4    180.8   10.8       58.4
..     ...    ...        ...
195   38.2    3.7       13.8
196   94.2    4.9        8.1
197  177.0    9.3        6.4
198  283.6   42.0       66.2
199  232.1    8.6        8.7

[200 rows x 3 columns]

In [10]:
# for values of our taergeted column
y

0      22.1
1      10.4
2      12.0
3      16.5
4      17.9
       ...
195     7.6
196    14.0
197    14.8
198    25.5
199    18.4
Name: Sales, Length: 200, dtype: float64

In [12]:
# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [13]:
# Create and train a linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [14]:
# Make predictions on the testing set
y_pred = model.predict(X_test)

In [17]:
# Evaluate model performance
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print("Mean Squared Error:", mse)
print("R-squared:", r2)

Mean Squared Error: 2.907756910271089
R-squared: 0.9059011844150826

In [19]:
# for error in our model
print(y_test-y_pred)

95    -0.134772
15     1.990260
30    -2.323989
158   -1.972785
128    3.017281
115    0.030598
69     1.218805
170   -0.290350
174   -0.737013
45    -0.566575
66     2.076035
182    0.218266
165   -1.307512
78    -2.767507
186   -2.345510
177    1.768372
56    -2.628146
152   -1.298766
82     0.291194
68    -1.578328
124   -1.106318
16    -0.098833
148   -0.005183
93    -0.188548
65     1.882039
60     0.174933
84     0.860915
67    -0.415209
125   -0.170809
132   -2.226825
9     -0.359474
18     0.665091
55     2.897080
75    -1.734342
150   -5.478475
104   -0.483645
135   -0.528218
137   -2.009533
164   -0.709928
76     0.435587
Name: Sales, dtype: float64

#### For predecting a new sales values based on prices of columns

In [24]:
# Importing the LinearRegression library from sklearn
from sklearn.linear_model import LinearRegression

# assigning a variable as lr
lr=LinearRegression()

#fitting the lr with train and test  data
lr.fit(X_train,y_train)

# for prdiction of new values of our targeted columns we use below codes
ypred=lr.predict(X_test)

In [25]:
# y prediction of all values from their actual values
ypred

array([17.0347724 , 20.40974033, 23.72398873,  9.27278518, 21.68271879,
       12.56940161, 21.08119452,  8.69035045, 17.23701254, 16.66657475,
        8.92396497,  8.4817344 , 18.2075123 ,  8.06750728, 12.64550975,
       14.93162809,  8.12814594, 17.89876565, 11.00880637, 20.47832788,
       20.80631846, 12.59883297, 10.9051829 , 22.38854775,  9.41796094,
        7.92506736, 20.83908497, 13.81520938, 10.77080925,  7.92682509,
       15.95947357, 10.63490851, 20.80292008, 10.43434164, 21.5784752 ,
       21.18364487, 12.12821771, 22.80953262, 12.60992766,  6.46441252])

### For getting the values as ytest and ypred errors
##### For mininizing the errors in our model traing we will use
##### => mean_absolute_error
##### => mean_squared_error
##### => r2_score

In [26]:
# Importing the libraries to minimize the errors in our ytest and ypred 
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

# Assigning a mae as variable for mean_absolute_error
mae=mean_absolute_error(y_test,y_pred)

# Assigning a mse as variable for mean_squared_error
mse=mean_squared_error(y_test,y_pred)

# Assigning a rmse as variable for sqrt(mse)
rmse=np.sqrt(mse)

# Assigning a r2 as variable for r2_score
r2=r2_score(y_test,y_pred) # this will gives us the accuracy of our model

# Printing the value of all above tests
print(f'mae : {mae}\nmse : {mse}\nrmse : {rmse}\naccuracy : {r2}')

mae : 1.2748262109549335
mse : 2.907756910271089
rmse : 1.7052146229349223
accuracy : 0.9059011844150826

## We got a accuracy of our model is 90%

# Model Deployment

In [27]:
# Use the model to predict sales for new advertising spending
new_spending = [[94.2,4.9,8.1]]  # Example spending on TV, Radio, Newspaper
predicted_sales = model.predict(new_spending)
print("Predicted Sales:", predicted_sales[0])

Predicted Sales: 10.378658830064193

In [28]:
# Use the model to predict sales for new advertising spending
new_spending = [[134,41,34]]  # Example spending on TV, Radio, Newspaper
predicted_sales = model.predict(new_spending)
print("Predicted Sales:", predicted_sales[0])

Predicted Sales: 16.30457454446192